@import "tailwindcss";
@plugin "@iconify/tailwind4";

@plugin "daisyui";

* {
  font-family: 'Space Grotesk', sans-serif;
}

@plugin "daisyui/theme" {
  name: "portfolio";
  --color-base-100: #0a0a0a;
  --color-base-200: #1c1b1b;
  --color-base-300: #2a2a2a;
  --color-base-content: #e5e2e1;

  --color-primary: #5865f2;
  --color-primary-content: #ffffff;

  --color-secondary: #00e3fd;
  --color-secondary-content: #000000;

  --color-accent: #e3175f;
  --color-accent-content: #ffb2be;

  --color-neutral: #1c1b1b;
  --color-neutral-content: #e5e2e1;

  --color-info: #00e3fd;
  --color-success: #4caf50;
  --color-warning: #ff9800;
  --color-error: #e3175f;

  --rounded-box: 0.5rem;
  --rounded-btn: 9999px;
  --rounded-badge: 9999px;
}

@utility btn {
  @apply rounded-full px-6 sm:px-8 h-12 sm:h-14 min-h-0 transition-transform duration-500 ease-out
}

@utility btn-primary {
  @apply hover:scale-102
}

@utility btn-outline {
  @apply border-white/50 hover:border-white/60
}

@utility input {
  @apply outline-0
}

@utility textarea {
  @apply outline-0
}

@utility project-card {
  @apply bg-[#141414] border border-white/5 rounded-3xl overflow-hidden transition-all duration-500 flex hover:bg-[#181818] hover:border-white/10 hover:shadow-2xl;
}

@utility badge {
  @apply px-3 py-1 rounded-md text-[10px] font-semibold uppercase tracking-[0.2em] border border-white/10 bg-white/[0.03] text-base-content/80;
}


::view-transition-old(root) {
  animation: scale-out 0.3s eas e forwards;
}

::view-transition-new(root) {
  animation: scale-in 0.4s ease forwards;
}

@keyframes scale-out {
  to {
    opacity: 0;
    transform: scale(0.98);
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(1.02);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}