<div class="group bg-transparent border border-white/5 rounded-3xl overflow-hidden transition-all duration-500 flex"
  [class.flex-col]="true" [class.md:flex-row]="view() === 'list'">
  <div class="relative overflow-hidden shrink-0 border-white/5" [class.w-full]="true"
    [class.md:w-2/5]="view() === 'list'" [class.border-b]="view() === 'grid'" [class.md:border-b-0]="view() === 'list'"
    [class.md:border-r]="view() === 'list'" [class.aspect-16/10]="view() === 'grid'">
    <img src="https://arengifoportfolio.blob.core.windows.net/project-images/a5dabf62-827d-484d-90c9-2eac1879bc70.jpg"
      alt="Nexus Dashboard"
      class="w-full h-full object-cover grayscale opacity-70 group-hover:grayscale-0 group-hover:opacity-80 transition-all duration-700" />
    <div class="absolute inset-0 bg-linear-to-t from-base-100 via-transparent to-transparent opacity-90"></div>
  </div>
  <div class="p-8 md:p-10 grow flex flex-col">
    <div class="flex flex-wrap items-center gap-3 mb-6">
      <span
        class="px-3 py-1 rounded-full text-xs font-semibold uppercase tracking-widest border border-white/5 bg-base-200/80 text-base-content/90">
        .NET Core
      </span>
      <span
        class="px-3 py-1 rounded-full text-xs font-semibold uppercase tracking-widest border border-white/5 bg-base-200/80 text-base-content/90 ">Angular</span>
      <span
        class="px-3 py-1 rounded-full text-xs font-semibold uppercase tracking-widest border border-white/5 bg-base-200/80 text-base-content/90">Azure</span>
      <span
        class="px-3 py-1 rounded-full text-xs font-semibold uppercase tracking-widest border border-white/5 bg-base-200/80 text-base-content/90">SignalR</span>
    </div>
    <h3 class="text-3xl font-bold mb-4 group-hover:text-primary transition-colors">
      A simple dashboard
    </h3>
    <p class="text-base-content/50 leading-relaxed mb-10 text-base">
      My first simple challenge with real-time data. I spent nights figuring out how to keep the UI
      smooth...
    </p>
    <div class="mt-auto flex flex-col lg:flex-row gap-4">
      <a class="flex-1 btn btn-primary hover:scale-105 text-sm tracking-widest uppercase">
        Live <span class="icon-[lucide--arrow-right]"></span>
      </a>
      <a class="flex-1 btn btn-outline text-sm tracking-widest uppercase">
        <span class="icon-[lucide--code-2]"></span> Source Code
      </a>
    </div>
  </div>
</div>