<nav
  class="fixed z-99 top-6 left-1/2 -translate-x-1/2 pointer-events-auto bg-base-200/80 backdrop-blur-none rounded-full px-2 py-2 border border-white/5 flex gap-2"
>
  @for (item of items; track $index) {
    <a
      class="flex items-center text-base-content/70 hover:text-base-content transition-colors text-sm font-medium px-5 py-2 rounded-full duration-300"
      routerLinkActive="bg-primary text-primary-content hover:bg-primary/90 "
      [routerLink]="item.path"
    >
      {{ item.label }}
    </a>
  }

</nav>
